body{
    padding: 0;
    margin: 0;
    width: 1000px;
}
header{
    background-color: blue;
    height: 100px;
    width: 1000px;
    display: flex;
    flex: auto auto auto;
}
.hamburger, .canoe{
    height: 100%;
    width: 100px;
}
.canoe{
    position: relative;
    float: right;
    right: 0;
}
.title{
    width: 900px;
    text-align: centre;
    
}
.body-image{
    width: 1000px;
}